<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="nuget cdn" value="https://nuget.cdn.azure.cn/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
</configuration>